@import '~styles/colors';

:local {
  .formWrapper {
    position: relative;
    transition: opacity 200ms linear;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }
  }

  .form {
    padding: 24px 18px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 20px 2px rgb(0 0 0 / 14%);
  }

  .close {
    width: 24px;
    height: 24px;
    top: 12px;
    left: -34px;
    position: absolute;
    background: @grayscale-40;
    -webkit-mask-size: contain;
    cursor: pointer;

    &:hover {
      background: darken(@grayscale-40, 10%);
    }
  }

  .fields > tdiv {
    margin-bottom: 12px;
  }

  .send {
    margin-top: 18px;
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .submit {
      width: 100%;
    }
  }
}
